img{
    width: 200px;
    float:left;
}
p{
    clear: both;
    clear: left;
    clear: right;
}
.box{
    height: 200px;
    background: green;
    width: 25%;
    float: left;
    
    


}
.box1{
    background: red;
}
.box2{
    background:lime;
}
.box3{
    background:yellow;
}
.box4{
    background: green;
}