/*h2{
 font-size: 90px;
 text-align: center;
 text-shadow: 2px 2px 5px red;
}
h2{
    font-size: 90px;
    text-align: center;
    text-shadow: -2px 0 red,0 2px green, 2px 0 yellow, 0 -2px lime;
   }
   h2{
    font-size: 90px;
    text-align: center;
    text-shadow: -2px 0 red,0 2px red, 2px 0 red, 0 -2px red;
   }*/
   .reza{
       width: 400px;
       text-align: center;
       margin: auto;
       border: 1px solid #d4d4d4;
   }
   .reza img{
       width: 100%;
   }
   .zayed{
       padding: 10px;
   }
   .reza h2{
       font-size: 20px;
       text-transform: capitalize;
       margin: 0;
   }
   .reza:hover{
    box-shadow: 3px 8px  10px rgb(0,0,0,0.2 ),-3px 5px 10px rgb(0, 0,0,0.2);


   }
