.REZA{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    overflow: visible;
}
.REZA{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
}
.REZA{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    overflow: scroll;
}
.REZA{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    overflow: auto;
}