img:hover{
    opacity: 0.7;
}
.bg{
    width: 400px;
    height: 350px;
    background: url('../img/z.jpg') no-repeat center/ cover;
    overflow: hidden;
}.box p{
    text-align: center;
    background: white;
    padding: 30px;
    opacity: 0.5;
    margin: 100px;

}