h2{
    font-family: Agency FB;
    font-size: 50px;
}
h2{
    font-family: Agency FB;
    font-size: 5em;
    font-style: italic;
} 
h2{
    font-family: Agency FB;
    font-size: 3em;
    font-style: italic;
    font-weight: normal;
}
p{
    font-weight: bold;
}
p{
    font-variant: small-caps;
}