.icons{
    overflow: hidden;
}
.icons ul{
    margin: 0;
    padding: 0;
}
.icons ul li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.icons ul li:last-child{
    margin-right: 0;
}
.icons ul li a{
    background-image: url('../img/z.png');
    background-repeat: no-repeat;
    width: 84px;
    height: 84px;
    display: inline-block;
    border: 2px solid #777;
    border-radius: 50%;
    background-position: 0px 0px;
    transition: 1s;
}
.icons ul li:hover:nth-child(1) a{
    background-position: 0 -84px;
}
.icons ul li:nth-child(2) a{
    background-position: -168px 0;

}
.icons ul li:hover:nth-child(2) a{
    background-position: -168px -84px;
}
.icons ul li:nth-child(3) a{
    background-position: -336px 0;

}
.icons ul li:hover:nth-child(3) a{
    background-position: -336px -84px;
}
.icons ul li:nth-child(4) a{
    background-position: -440px 0;

}
.icons ul li:hover:nth-child(4) a{
    background-position: -440px -84px;
}